<header>
  <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/pages/apps.html"><i class="fa fa-play-circle"></i>Apps</a></li>
        <li><a href="https://rubygems.org/profiles/JimT2"><i class="fa fa-diamond"></i>Gems</a></li>
        <li><a href="/pages/cartoons.html"><i class="fa fa-picture-o"></i>Graphics</a></li>
        <li><a href="http://www.stapledforehead.com" target="_blank"><i class="fa fa-shopping-cart"></i>Store</a></li>
      </ul>
    </div>
  </nav>
</header>
